.page-container.resume
  .title What am I?
  .chunk.masteries
    .section
      .restitle Fullstack Engineer
      ul
        li I speak mainly JavaScript and Ruby and write code every day
        li Professional time in "DevOps" - infrastructure / tooling
        li Free time in web development and game design
        li It's my philosophy that a good operations engineer has to be a great programmer
    .section
      .restitle Cloud Automation Expert
      ul
        li One of the world's first SaltStack certified engineers
        li Oodles of production experience with AWS, Rackspace, Google Compute, OpenStack and more
        li Expertise in Chef ecosystem - have been working with Chef continuously for almost 3 years
        li Early adoptor of Docker and Kubernetes - experience with Docker in heavily trafficked production
    .section
      .restitle Linux Systems Administrator
      ul
        li Everything from CRAY to RHEL4 to 15.10 and back again
        li From hardware firewalls to public cloud to Raspberry Pi. If it runs *nix, 
          a(href="https://www.youtube.com/watch?v=dFUlAQZB9Ng") I know this
        li Very deep understanding of Linux environments, limitations, behavior under stress.
        li Redis, MySQL, Postgres, Mongo, Couch, Cassandra, Kafka, Riak, Aurora, Parse, LevelDB, Firebase...
        li I know a few things about databases
        li I write loads of Bash and Python as well
  .title And what have I done?!
  .chunk.experiences
    .section.experience
      .restitle Rackspace Inc.
      .ressubtitle DevOps Engineer II (05/2013 to 04/2015)
      ul
        li Designed and supported multiple high profile client's entire infrastructure simultaneously
        li Developed automation solutions using Chef, Salt or Docker with a team of engineers
        li Go-to expert for JS/Ruby based customers as well as MySQL / MariaDB
        li Built resilient and scalable systems using pure cloud, pure dedicated, and hybrid environments
        li Served as point of technical contact for large &amp; well known organizations including large national retailers, movie studios and web startups
        li Built applications from scratch (in Ruby, PHP and Javascript) against undocumented internal APIs to help boost productivity and team efficiency
    .section.experience
      .restitle Techtonic Games
      .ressubtitle SysAdmin/Web developer (03/2012 to 10/2012)
      ul
        li Lead infrastructure design - game releases, signup funnels, web portals and more.
        li Assesed and improved existing infrastructure (monitoring, statistics, security, phone system)
        li Built many webpages from artist designs (from photoshop to the web)
    .section.experience
      .restitle The Okori Group
      .ressubtitle Ruby on Rails developer (04/2011 to 03/2012)
      ul
        li Implemented features &amp; bug fixes to mission critical applications
        li Designed, created and implemented customer communications portal
        li Web development from whiteboard to production for GetCocoon.com flagship product
    .section.experience
      .restitle KPR Advisors
      .ressubtitle Programmer &amp; Operations (2007 - 2011)
      ul
        li Creation and installation of custom real estate management software
        li Systems and applications management for uptime critical business platform
    .section.experience
      .restitle Non-Profit Communications &amp; Computation Syndicate
      .ressubtitle Operations (2007 - 2011)
      ul
        li Management, installation, and security audit work relating to providing emergency communications to the persecuted peoples of Libya and Syria
        li Monitoring and ongoing security-auditing of crucial text and voice communications portals
        li Designed and installed Linux based perimeter monitoring solutions for local shops.
    .section.experience
      .restitle Impulse Internet Services
      .ressubtitle Linux Systems Administrator (04/14/2007 to 12/04/2009)
      ul
        li Developed and implemented a number of internal applications, including network and systems monitoring, call center visualizations, and tech-support knowledgebase.
        li Spent time with anchient mainframes, BSD mailservers, SUN Solaris, etc.
        li Trained under very senior unix admins.
        li Responsible for mission-critical systems uptime, including 30,000+ user email system.
