.subtitle Fresh starts are best starts
.body
  p
    | Well, for potentially the 10th time, I've relaunched Erulabs.com (aka SeandonMooy.com).
  p 
    | One of the things about being a DevOps engineer is that best practices change 
    i very quickly
    | . I also tend to re-build my personal site in an attempt to suss out the dark corners of each different solution.
    | In the end, this blog evolved in an attempt to cram as many blog-like features as possible into a 100% static website.
  p
    | Check out the 
    a(href="https://github.com/erulabs/erulabs.com") GitHub repo
    | . If you can read the Gulpfile, you'll get an idea of how the site works.
  p
    | I intend to add actual content to this site for once - so stay tuned :)
