.subtitle What the heck is a "DevOps"
.body
  p
    | I am Seandon Mooy, an engineer who loves Docker, Chef, Kubernetes, Ruby, Javascript, GO and a bunch of other stuff.
    | I am available for DevOps consulting - just reach out to me at seandon.mooy@gmail.com or use the Contact button on the top right!
