
.main.resume
  .resumebody
    h2 What am I?
    .chunk.masteries
      .section
        .subtitle Fullstack Engineer
        ul
          li I speak mainly JavaScript and Ruby and write code every day
          li Professional time in "DevOps" - infrastructure / tooling
          li Free time in web development and game design
      .section
        .subtitle Automation and Clouds
        ul
          li Oodles of production experience with AWS, Rackspace, Google Compute and OpenStack
          li One of the world's first SaltStack certified engineers
          li Expertise in Chef ecosystem - have been working with Chef continuously for almost 3 years
      .section
        .subtitle Linux SysOps
        ul
          li Everything from CRAY to RHEL4 to 15.10 and back again.
          li From hardware firewalls to public cloud to Raspberry Pi. If it runs *nix, 
            a(href="https://www.youtube.com/watch?v=dFUlAQZB9Ng") I know this.
    .chunk
      h2 And what have I done?!
      .chunk.experiences
        .section.experience
          span.title Rackspace
          span.subtitle &nbsp;- DevOps Engineer II (05/2013 to 04/2015)
          ul
            li Built, managed and supported multiple high profile client's production, QA and staging environments simultaneously
            li Developed scalable and reusable automation solutions using Chef or Salt with a team of engineers, collaborated via Git
            li Architected customer environments from scratch for PHP/LAMP, Node.js/MEAN, Java/Tomcat, Rails, Django and Wordpress ecosystems
            li Built resilient, redundant and scalable systems using pure cloud, pure dedicated, and hybrid environments using Chef, SaltStack and Ansible
            li Served as point of technical contact for large &amp; well known organizations including large national retailers, movie studios and web startups
            li Built applications from scratch (in Ruby, PHP and Javascript) against undocumented internal APIs to help boost productivity and team efficiency
        .section.experience
          span.title Techtonic Games
          span.subtitle &nbsp;- SysAdmin/Web developer (03/2012 to 10/2012)
          ul
            li Lead infrastructure design - game releases, signup funnels, web portals and more.
            li Assesed and improved existing infrastructure (monitoring, statistics, security, phone system)
            li Built many webpages from artist designs (from photoshop to the web)
        .section.experience
          span.title The Okori Group
          span.subtitle &nbsp;- Ruby on Rails developer (04/2011 to 03/2012)
          ul
            li Implemented features &amp; bug fixes to mission critical applications
            li Designed, created and implemented customer communications portal
            li Web development from whiteboard to production for GetCocoon.com flagship product
        .section.experience
          span.title KPR Advisors
          span.subtitle &nbsp;- Programmer &amp; Operations (2007 - 2011)
          ul
            li Creation and installation of custom real estate management software
            li Systems and applications management for uptime critical business platform
        .section.experience
          span.title Non-Profit Communications &amp; Computation Syndicate
          span.subtitle &nbsp;- Operations (2007 - 2011)
          ul
            li Management, installation, and security audit work relating to providing emergency communications to the persecuted peoples of Libya and Syria
            li Monitoring and ongoing security-auditing of crucial text and voice communications portals
            li Designed and installed Linux based perimeter monitoring solutions for local shops.
        .section.experience
          span.title Impulse Internet Services
          span.subtitle &nbsp;- Linux Systems Administrator (04/14/2007 to 12/04/2009)
          ul
            li Developed and implemented a number of internal applications, including network and systems monitoring, call center visualizations, and tech-support knowledgebase.
            li Spent time with anchient mainframes, BSD mailservers, SUN Solaris, etc. Trained under very senior unix admins.
            li Responsible for mission-critical systems uptime, including 30,000+ user email system.
